{{#if this.model.topic.title}}
    <div class="custom-field">
      <label for="custom-field-input">Enter Custom Value:</label>
      <input @type="text" @value=this.customFieldValue id="custom-field-input" placeholder="Type product name"/>
    </div>
  {{/if}}
