{{#if this.composerComponent.isPrivateMessage}}
    <div class="custom-field">
        <label for="custom-field-input">Product Name:</label>
        <input id="custom-field-input" placeholder="Type here product name…">
    </div>
{{/if}}
